.venv
__pycache__
.git
.gitignore
README.md
.pytest_cache
.coverage
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.vscode
.idea

# Next.js specific
.next
node_modules
.swc
*.tsbuildinfo

# Environment files
.env
.env.local
.env.production.local
.env.development.local 